.slider .track {
    -fx-background-color: #444444;
    -fx-background-radius: 5;
    -fx-pref-height: 4;
}

.slider .thumb {
    -fx-background-color: #1DB954;
    -fx-background-radius: 50%;
    -fx-pref-width: 14;
    -fx-pref-height: 14;
}

.slider .track > .bar {
    -fx-background-color: #1DB954;
    -fx-background-radius: 5;
}